/docroot/WEB-INF/lib/axis.jar
/docroot/WEB-INF/lib/commons-beanutils.jar
/docroot/WEB-INF/lib/commons-discovery.jar
/docroot/WEB-INF/lib/commons-logging.jar
/docroot/WEB-INF/lib/jabsorb.jar
/docroot/WEB-INF/lib/jaxrpc.jar
/docroot/WEB-INF/lib/jstl-api.jar
/docroot/WEB-INF/lib/jstl-impl.jar
/docroot/WEB-INF/lib/log4j.jar
/docroot/WEB-INF/lib/saaj-api.jar
/docroot/WEB-INF/lib/saaj-impl.jar
/docroot/WEB-INF/lib/slf4j-api.jar
/docroot/WEB-INF/lib/slf4j-log4j12.jar
/docroot/WEB-INF/lib/util-bridges.jar
/docroot/WEB-INF/lib/util-java.jar
/docroot/WEB-INF/lib/util-taglib.jar
/docroot/WEB-INF/lib/wsdl4j.jar
/docroot/WEB-INF/lib/xmlsec.jar
/docroot/WEB-INF/tld