/docroot/WEB-INF/lib/backport-concurrent.jar
/docroot/WEB-INF/lib/commons-collections.jar
/docroot/WEB-INF/lib/commons-lang.jar
/docroot/WEB-INF/lib/commons-logging.jar
/docroot/WEB-INF/lib/log4j.jar
/docroot/WEB-INF/lib/util-bridges.jar
/docroot/WEB-INF/lib/util-java.jar
/docroot/WEB-INF/lib/util-taglib.jar